@import '~bootstrap/dist/css/bootstrap.min.css';

body{
  background-image: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

h1{
  padding-top: 2.75%;
  text-align: center;
  color: white;
}

.done{
  text-decoration: line-through;
}

button.btn:hover{
  cursor: pointer;
  background: darkblue;
  transition: all 0.5s ease;
  transform: scale(1.1);
  filter: brightness(120%);
}

button.removing-x-btn{
  cursor: pointer;
  border: none;
  font-weight: bold;
}

td.todo-text:hover{
  cursor: pointer;
}