<h1 style="text-align: center;">To-do list</h1>
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter To-do" aria-label="Enter To-do" aria-describedby="button-addon2" [(ngModel)]="newTodo" >
        <button class="btn btn-outline-secondary btn-primary" type="button" id="button-addon2" style="color: white" (click)="saveTodo()">Add To-do</button>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr class="todo-details" *ngFor="let todo of todos;let i = index;">
            <th scope="row">{{i+1}}</th>
            <td class="todo-text" class="{{(!todo.isCompleted)?'done':''}}" (click)="done(i)">{{todo.name}}</td>
            <td class="removing-x" style="color: red;font-weight: bold;" (click)="remove(i)">X</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>